#wrapper {
	position: fixed;
	width: 1280px;
}

#form-inline form{
	align-content: left;
}
.d-inline-block {
	border-radius: 50%;
	font-size: 35px;

}

.t-inline-block{
	font-size: 50px;
}
.sidenav {
  list-style: none;
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 96px;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav li {
	list-style: none;
}

#box{
	text-align: center;	
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


@media screen and (max-height: 640px) {
	#wraper {width: 640px; 
			position: fixed;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

